.bluea{
    color: #5D69F3;
}

.teal{
    color: #04D5C7;
}

.lilas{
    color:#9385F7;
}

.orange{
    color: #FE996C;
}

.grey{
    color: #B8BABF;
}

.bg-content{
    background-color: #131522;
}


.sidebargrey{
    color: #B8BABF;
    
}

.white{
    color: white;
}