.pl23{
    padding-left: 23px !important;
}
.pl50{
    padding-left: 50px !important;
}
.pl54{
    padding-left: 54px !important;
}
.pl35{
    padding-left: 35px !important;
}
.pr30{
    padding-right: 30px !important;
}
.pl2{
    padding-left: 15px !important;
}

.pl130{
    padding-left: 130px !important;
}
.mt70{
    margin-top: 70px !important;
}
.mt50{
    margin-top: 50px !important;
}
