.dropdown-filter-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-top: 10px;
}
  
.dropdown-toggle {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background: #21242B;
  cursor: pointer;
}
  
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: #21242B;
  border-radius: 5px;
  width: 100%;
  z-index: 1;
  color: #B8BABF;
  margin-top: 5px;
}
  
.dropdown-item {
  margin: 20px;
  cursor: pointer;
  font-size: 12px;
}
  
.dropdown-item:hover {
  background: #2f333c;
}

  
.filters-container {
  align-items: flex-start;
}
  

.filter-icon {
  margin-right: 10px; 
}
  