.notification-popup {
    position: fixed;
    top: 60px;
    right: 20px;
    width: 30%;
    height: 80%;
    background-color: #21242B;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000 !important;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #B8BABF; 
}

.notification-icon {
    margin-left: auto;
}

.notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.notification-span {
    padding: 5px 10px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: white; 
}

.notification-list {
    flex-grow: 1;
    overflow-y: auto;
    padding: 1px;
    color: #B8BABF; 
}

.notification-item {
    padding: 12px;
    border-bottom: 1px solid #21242B; 
}

.notification-item:last-child {
    border-bottom: none;
}

.notification-title {
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
    color: white;
}

.notification-content {
    margin-bottom: 8px;
    font-size: 10px;
    font-family: "Nunito Sans", sans-serif;
    color: white;
}

.notification-date {
    font-size: 10px;
    color: #B8BABF;
    font-family: "Nunito Sans", sans-serif;
}

.mark-all-read-button {
    padding: 5px 10px;
    color: #5D69F3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;

}

.mark-all-read-button:hover .button-icon,
.mark-all-read-button:hover .button-text {
  filter: brightness(0.8);
}


.notification-list::-webkit-scrollbar {
    display: none;
}

.notification-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 70%;
}

.notification-filters {
    display: flex;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 10px;
    background-color: #0B0D1A;
    justify-content: space-between;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.filter-button {
    padding: 6px;
    margin: 5px;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    color: #B8BABF; 
    font-family: "Nunito Sans", sans-serif;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
}

.filter-button.active {
    font-weight: bold;
    color: #5D69F3;
    background-color: #21242B; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.notification-count {
    background-color: #B8BABF;
    color: black; 
    font-size: 8px;
    font-family: "Nunito Sans", sans-serif;
    width: 18px;
    height: 16px;
    padding: 0;
    line-height: 16px;
    text-align: center;
    border-radius: 5px;
    margin-left: 4px;
    display: inline-block;
    vertical-align: middle;
}

.notification-count.active {
    background-color: #E5F1FF;
    border-color: #E5F1FF;
    color: #5D69F3;
}
