.form-container-popup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30%; 
  background-color: #1A1D22;
  color: #B8BABF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

button {
  margin-right: 10px;
}

.input-field, .custom-select {
  background-color: #24282F;
  border: 1px solid #77797d !important;
  padding: 8px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  outline: none;
}

.input-field:focus, .custom-select:focus {
  border-color: #B8BABF; 
}

.custom-select::-ms-expand {
  display: none;
}


.custom-select::-webkit-select-arrow {
  display: none;
}

.custom-select::-webkit-scrollbar {
  display: none; 
}


.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 10px; 
  background-image: url('/assets/chevron-down.svg'); 
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  border: 1px solid #77797d;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  background-size: 20px;
  color: #B8BABF;
  
}


.custom-select::-ms-expand {
  display: none;
}

.custom-select::-webkit-select-arrow {
  display: none;
}

.custom-select::-webkit-scrollbar {
  display: none; 
}



.react-tel-input .form-control {
  background-color: #24282F !important;
  border: 1px solid #77797d !important;
  border-radius: 10px !important;
  color: #B8BABF !important;
  padding: 8px; 
  box-sizing: border-box;
  width: 100% !important;
  height: 40px !important;
}

.react-tel-input .flag-dropdown {
  background-color: #24282F !important;
  border: 1px solid #77797d !important;
  border-radius: 10px !important;
  position: relative;
}

.react-tel-input .selected-flag {
  background-color: #24282F !important;
  border-radius: 10px 0 0 10px !important;
  padding: 8px; 
  position: absolute;
  left: 0; 
  top: 0; 
  display: flex; 
  align-items: center; 
}

.react-tel-input .country-list {
  background-color: #24282F !important;
  border: 1px solid #77797d !important;
  border-radius: 10px !important;
  color: #B8BABF !important;
  overflow-y: hidden; 
  font-family:"Nunito Sans", sans-serif;
}

.react-tel-input .country-list::-webkit-scrollbar {
  display: none; 
}

.react-tel-input .country-list {
  scrollbar-width: none; 
}



.selected-sensors {
  margin-top: 4px;
  display: flex; 
  flex-wrap: wrap;
}

.selected-sensor {
  display: flex;
  align-items: center;
  background-color: #24282F;
  color: #FE754B;
  border: 1px solid #FE754B;
  padding: 2px 8px;
  margin-right: 7px;
  border-radius: 5px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 10px;
}

.selected-sensor button {
  margin-left: 5px;
  border: none;
  color: #666;
  cursor: pointer;
  border-radius: 3px;
}
