.StatBoxContainer {
    width: 244px;
    height: 45px;
    background-color: #24282F !important;
    border-radius: 20px;
}

.StatBoxContainer3 {
    width: 839x;
    height: 250px;
    background-color: #24282F !important;
    border-radius: 20px;
}

.StatBoxContainer4 {
    width: 412px;
    height: 250px;
    background-color: #24282F !important;
    border-radius: 20px;
}

.StatBoxContainer5 {
    width: 202px;
    height: 280px;
    background-color: #24282F !important;
    border-radius: 20px;
}

.StatBoxContainer6 {
    width: 832px;
    height: 280px;
    background-color: #24282F !important;
    border-radius: 20px;
    z-index: 1 !important;
}

@media (max-width: 1200px) {
    .StatBoxContainer {
        width: 400px;
        height: 120px;
    }

    .StatBoxContainer3 {
        width: 700px;
        height: 180px;
    }

    .StatBoxContainer4 {
        width: 400px;
        height: 180px;
    }

    .StatBoxContainer5 {
        width: 400px;
        height: 230px;
    }

    .StatBoxContainer6 {
        width: 700px;
        height: 230px;
    }
}

@media (max-width: 992px) {
    .StatBoxContainer {
        width: 300px;
        height: 100px;
    }

    .StatBoxContainer3 {
        width: 600px;
        height: 160px;
    }

    .StatBoxContainer4 {
        width: 350px;
        height: 160px;
    }

    .StatBoxContainer5 {
        width: 350px;
        height: 200px;
    }

    .StatBoxContainer6 {
        width: 600px;
        height: 200px;
    }
}

@media (max-width: 768px) {
    .StatBoxContainer {
        width: 100%;
        height: auto;
    }
    .StatBoxContainer {
        width: 200px;
        height: 120px;
    }

    .StatBoxContainer3 {
        width: 400px;
        height: 180px;
    }

    .StatBoxContainer4 {
        width: 200px;
        height: 180px;
    }

    .StatBoxContainer5 {
        width: 400px;
        height: 230px;
    }

    .StatBoxContainer6 {
        width: 400px;
        height: 230px;
    }

   
}

.custom-line {
    border: none;
    border-top: 1px solid #e0e0e0; 
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.high-quality-image {
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: crisp-edges; 
    image-rendering: pixelated; 
}