.container {
    padding: 30px; 
    background-size: cover;
    background-position: center;
    background-color: #5D69F3 ;
  }
  
  .container .content-container {
    border-radius: 50px; 
    padding: 50px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    max-width:600px; 
    background-color:#21242B ;
  }